#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    background: var(--light-blue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: black solid 0.8vh;
}

#header>h1 {
    margin-right: 5vw;
    margin-left: 5vw;
    color: var(--white);
    font-size: 3vh;
}

#page {
    width: 80vw;
    margin: 30vh auto auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

#page>h2 {
    color: var(--light-blue);
    font-size: 5vh;
}

#page>a {
    display: block;
    width: 30vw;
    font-size: 3vh;
    text-decoration: none;
    margin-top: 2.5vh;
    border-radius: 3vw;
    padding: 1vw;
    text-align: center;
    color: var(--white);
    background: var(--light-blue);
    border: var(--light-blue) solid 0.5vh;
}

#page>a:hover {
    color: var(--light-blue);
    background: var(--white);
}

.list {
    width: 50vw !important;
    font-size: 2vh !important;
    margin-top: 1.5vh !important;
    text-align: left !important;
}