:root {
    --light-blue : #00c7ff;
    --white : #fafafa;
}

@font-face {
    font-family: "CQ";
    src: url("../fonts/CQ Mono.otf");
}

* {
    font-family: "CQ", sans-serif;
    transition: 200ms;
}